<div class="download-table">
  <div class="options-menu">
    {{!-- checkbox --}}
    <span>Selected {{!-- count --}}</span>
    <span>{{!-- icon --}} Download Selected</span>
  </div>
  <table>
    <thead>
      <tr>
        <th class="lean-cell">x</th>
        <th>Name</th>
        <th>Device</th>
        <th class="wide-cell">Path</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.data as |item|}}
        <tr>
          <td class="lean-cell"></td>
          <td>{{item.name}}</td>
          <td>{{item.device}}</td>
          <td class="wide-cell">{{item.path}}</td>
          <td class="{{if (eq item.status "available") "available"}}">
            {{item.status}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
